.hero__block {
    display: flex;
    gap: 24px;
    padding-top: 16px;
}
.hero__content {
    display: flex;
    background-color: #edf3fe;
    max-width: 1005px;
    border-radius: 12px;
    background-image: url("./assets/hero_bg.svg");
    background-repeat: no-repeat;
    background-position: left 50px;
}
.hero__title {
    margin-top: 33px;
    margin-left: 32px;
    margin-right: 61px;
    font-weight: 700;
    font-size: 24px;
}
.hero__list {
    display: flex;
    text-align: center;
}
.hero__item {
    max-width: 190px;
}
.hero__item > img {
    max-width: 190px;
}
.hero__content2 {
    max-width: 281px;
}
.hero__content2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #3748a6;
    border-radius: 12px;
}

.hero__sub_title {
    margin-left: 24px;
    margin-right: 27px;
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
}
.hero__paragraph {
    color: #fff;
    margin-left: 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    margin-right: 27px;
}

.hero__btn {
    margin-left: 24px;
    margin-right: 27px;
    padding-top: 7px;
    padding: 14px 24px 14px 60px;
    background-image: url("./assets/hero_btn.img.svg");
    background-repeat: no-repeat;
    background-position: 40px;
    border: none;
    border-radius: 14px;
    font-weight: 700;
    font-size: 18px;
    background-color: #fff;
}
.hero__book-title {
    margin-top: 8px;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
}
/* Info section */
.info__block {
    padding-top: 58px;
}
.info__list {
    display: flex;
}
.info__item {
    display: flex;
    gap: 20px;
    align-items: center;
}
.info__title {
    font-weight: 700;
    font-size: 15px;
    line-height: 120%;
    color: #11142d;
}
.info__text {
    font-weight: 400;
    font-size: 11px;
    color: #aaa;
}
.info__content {
    max-width: 212px;
}
/* Pillars Section */
.pillars__block {
    padding-top: 38px;
}
.pillars__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 125%;
    margin-bottom: 32px;
}
.pillars__list {
    display: flex;
    gap: 16px;
    border-radius: 14px;
    width: 1280px;
}

.pillars__sub_title {
    padding-top: 127px;
    padding-left: 16px;
    padding-bottom: 8px;
    padding-right: 18px;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    line-height: 133%;
}
.content {
    width: 200px;
    border-radius: 20px;
    background-size: cover;
}
.pillars__item {
    background-image: url("./assets/pillars_img.svg");
    background-repeat: no-repeat;
}
.pillars__item2 {
    background-image: url("./assets/pillars_img2.svg");
    background-repeat: no-repeat;
}
.pillars__item3 {
    background-image: url("./assets/pillars_img3.svg");
    background-repeat: no-repeat;
}
.pillars__item4 {
    background-image: url("./assets/pillars_img4.svg");
    background-repeat: no-repeat;
}

.pillars__item5 {
    background-image: url("./assets/pillars_img5.svg");
    background-repeat: no-repeat;
}
.pillars__item6 {
    background-image: url("./assets/pillars_img6.svg");
    background-repeat: no-repeat;
}
/* New collection section */
.new_collection {
    padding-top: 64px;
}
.new_collection__head {
    display: flex;
    justify-content: space-between;
    padding-bottom: 32px;
}
.new_collection__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 125%;
}
.new_collection__list {
    display: flex;
    gap: 24px;
}
.new_collection__sub_title {
    font-weight: 700;
    font-size: 20px;
    color: #11142d;
    padding-top: 18px;
    padding-bottom: 8px;
}
.new_collection__category {
    font-weight: 400;
    font-size: 14px;
    color: #3f51b5;
    padding-bottom: 41px;
}
.new_collection__item {
    background-image: url("./assets/new_collection_rate.svg"),
        url("./assets/new_collection_info.svg");
    background-repeat: no-repeat;
    background-position: left bottom, right bottom;
}
/* Audio section */
.audio_books {
    padding-top: 64px;
}
.audio_books__head {
    display: flex;
    justify-content: space-between;
    padding-bottom: 32px;
}
.audio_books__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 125%;
}
.audio_books__list {
    display: flex;
    gap: 24px;
}

.audio_books__sub_title {
    font-weight: 700;
    font-size: 20px;
    color: #11142d;
    padding-top: 18px;
    padding-bottom: 8px;
}
.audio_books__category {
    font-weight: 400;
    font-size: 14px;
    color: #3f51b5;
    padding-bottom: 41px;
}
.audio_books__item {
    background-image: url("./assets/new_collection_rate.svg"),
        url("./assets/new_collection_info.svg");
    background-repeat: no-repeat;
    background-position: left bottom, right bottom;
}
