* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.wrap {
    background: rgb(2, 0, 36);
    background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(9, 9, 121, 1) 35%,
        rgba(0, 212, 255, 1) 100%
    );
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form_wrapper {
    background-color: #fff;
    padding: 10px;
    border-radius: 15px;
}
